body {
	max-width: 800px;
	margin: auto;
}

.circle {
	float: left;
	width: 10em;
	height: 10em;
	shape-outside: circle(5em);
}

p {
	font-size: small;
	line-height: 1.1em;
	max-width: 70%;
}

.float {
	float: left;
	width: 10em;
	height: 10em;
	background-color: beige;
}

[shape-outside^="url"] {
	background-image: url("circle.svg");
}